---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Steven Araujo
  </div>
  <div class="inline opacity-75">
    <!-- Thanks for using this template. Please keep this line to support my work :) -->
    <a
      href="https://astro-modern-personal-website.netlify.app/"
      target="_blank"
      class="font-bold"
      >Website
    </a> by
    <a href="https://stevenaraujo98.github.io" target="_blank" class="font-bold"
      >Steven Araujo ⚡️</a
    >
  </div>
</footer>
<style></style>
