---
import { t, changeLanguage } from "i18next";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TimeLineElement from "../../components/cv/TimeLine.astro";

changeLanguage("es");
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t("cv.profile")}</div>
  </div>

  <div class="mb-10 text-justify">
    {t("cv.intro")}
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t("cv.education")}</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title={t("computerEngineering")}
      subtitle="Desde 2016 a 2022 en la Escuela Superior Politecnica del Litoral (ESPOL), Guayaquil, Ecuador"
    />
    <TimeLineElement
      title={t("masterArtificialIntelligence")}
      subtitle="Desde 2024 a 2025 en la Universidad Internacional de La Rioja (UNIR), Spain"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t("cv.experience")}</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="AI Developer and Researcher at CIDIS-ESPOL"
      subtitle="From Oct. 2018 to Feb. 2019, Oct. 2020 to Feb. 2021, and Feb. 2024 to Present"
      desc="Worked on object recognition and tracking projects, vehicle license plate digitization, banana diameter estimation using 3D cameras, vision for mobile robots, image processing, and social feature extraction. Technologies: Python, YOLO, TensorFlow, PyTorch, Keras, Intel RealSense, OpenCV."
    />
    <TimeLineElement
      title="Software Engineer at TIA SA"
      subtitle="From April 2023 to Sep. 2023"
      desc="Developed a system for queuing and scheduling tasks, database updates, chatbot maintenance, data cleaning processes, and improving runtime for the association rules project. Technologies: Python, JavaScript, Celery, RabbitMQ, Docker, Oracle, Cloudera."
    />
    <TimeLineElement
      title="Backend Developer at Nodel"
      subtitle="From February 2022 to Dec. 2022"
      desc="Improved runtime execution, performed social media scraping, and QA tasks. Technologies: Python, Databricks, Spark, Snowflake, CI/CD."
    />
    <TimeLineElement
      title="Full Stack Developer (Freelance)"
      subtitle="From May 2021 to Present"
      desc="Developed a web platform frontend using React, Material UI, Material Table, Redux-Saga, Rollbar, i18n, Axios, chart.js, mapbox-gl, Redux, and Tailwind. Backend development with Django and Django Rest Framework."
    />
    <TimeLineElement
      title="Developer at Equaquimic"
      subtitle="From June 2019 to Mar. 2020"
      desc="Developed features for logistics and inventory management. Technologies: ReactJS with PrimeReact, Redux, qr-scanner, and Java."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t("cv.certifications")}</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <!-- <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank">
        EF SET English Certificate 74/100 (C2 Proficient)</a
      >
    </li> -->
    <li>
      <a
        href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp"
        target="_blank"
      >
        Scrum Foundation Professional Certificate (SFPC)</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t("cv.skills")}</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (B2)</li>
    <li>JavaScript</li>
    <li>C++</li>
    <li>PHP</li>
    <li>Python</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>MongoDB</li>
    <li>SnowFlake</li>
    <li>Spark</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>React</li>
    <li>NextJs</li>
    <li>VUE</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>BaseCamp</li>
    <li>Scrum</li>
    <li>Shape Up</li>
    <li>LeanStartup</li>
    <li>UI Design</li>
    <li>WEB Design</li>
    <li>Logo Design</li>
    <li>Image Manipulation</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
    <li>Adobe Lightroom</li>
  </ul>
</BaseLayout>
