---
import { t, changeLanguage } from "i18next";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TimeLineElement from "../../components/cv/TimeLine.astro";

changeLanguage("es");
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t("cv.profile")}</div>
  </div>

  <div class="mb-10 text-justify">
    {t("cv.intro")}
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t("cv.education")}</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title={t("computerEngineering")}
      subtitle="2016 to 2022 at Escuela Superior Politecnica del Litoral (ESPOL), Guayaquil, Ecuador"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t("cv.experience")}</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Desarrollador e Investigador de IA en CIDIS-ESPOL"
      subtitle="Desde octubre de 2018 a febrero de 2019, octubre de 2020 a febrero de 2021, y febrero de 2024 hasta la actualidad"
      desc="Trabajó en proyectos de reconocimiento y seguimiento de objetos, digitalización de matrículas de vehículos en cámaras de video, estimación del diámetro de bananos usando cámaras 3D, visión para robots móviles, procesamiento de imágenes, extracción de características sociales y gestión de proyectos de IA. Tecnologías: Python, YOLO, TensorFlow, PyTorch, Keras, Intel RealSense, OpenCV."
    />
    <TimeLineElement
      title="Ingeniero de Software en TIA SA"
      subtitle="Desde abril de 2023 a septiembre de 2023"
      desc="Desarrolló un sistema para la gestión de colas y programación de tareas, actualizaciones de bases de datos, mantenimiento de chatbots, procesos de limpieza de datos y mejora del tiempo de ejecución del proyecto de reglas de asociación. Tecnologías: Python, JavaScript, Celery, RabbitMQ, Docker, Oracle, Cloudera."
    />
    <TimeLineElement
      title="Desarrollador Backend en Nodel"
      subtitle="Desde febrero de 2022 a diciembre de 2022"
      desc="Mejoró el tiempo de ejecución, realizó scraping en redes sociales y tareas de aseguramiento de calidad (QA). Tecnologías: Python, Databricks, Spark, Snowflake, CI/CD."
    />
    <TimeLineElement
      title="Desarrollador Full Stack (Freelance)"
      subtitle="Desde mayo de 2021 hasta la actualidad"
      desc="Desarrolló el frontend de una plataforma web utilizando React, Material UI, Material Table, Redux-Saga, Rollbar, i18n, Axios, chart.js, mapbox-gl, Redux y Tailwind. Desarrollo del backend con Django y Django Rest Framework."
    />
    <TimeLineElement
      title="Desarrollador en Equaquimic"
      subtitle="Desde junio de 2019 a marzo de 2020"
      desc="Desarrolló funcionalidades para la gestión de logística e inventarios. Tecnologías: ReactJS con PrimeReact, Redux, qr-scanner y Java."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t("cv.certifications")}</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <!-- <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank">
        EF SET English Certificate 74/100 (C2 Proficient)</a
      >
    </li> -->
    <li>
      <a
        href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp"
        target="_blank"
      >
        Scrum Foundation Professional Certificate (SFPC)</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t("cv.skills")}</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (B2)</li>
    <li>JavaScript</li>
    <li>C++</li>
    <li>PHP</li>
    <li>Python</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>MongoDB</li>
    <li>SnowFlake</li>
    <li>Spark</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>React</li>
    <li>NextJs</li>
    <li>VUE</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>BaseCamp</li>
    <li>Scrum</li>
    <li>Shape Up</li>
    <li>LeanStartup</li>
    <li>UI Design</li>
    <li>WEB Design</li>
    <li>Logo Design</li>
    <li>Image Manipulation</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
    <li>Adobe Lightroom</li>
  </ul>
</BaseLayout>
